<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test-animation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>38B358391D04CE4D00258108</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38B3584D1D04CE4E00258108</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38B358581D04CE4E00258108</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
